/**
 * Add your custom styles below
 * 
 * Remember: 
 * - Be organised, use comments and separate your styles into meaningful chunks
 *    for example: General styles, Navigation styles, Hero styles, Footer etc.
 * Separar las imagenes
 */
 * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

:root {
    --medium-weight: 600;

}

.contenedor_gral {
    width: 1360px;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    width: 100%;
    z-index: 1;
    padding-left: 250px;
    padding-top: 20px;
    padding-right: 8px;
    padding-bottom: 10px;
    border-bottom: #dfdfdf solid 1px;
}

.header img {
    height: 20px;
}

.search {
    width: 460px;
    height: 48px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: 1px solid #dddddd;  
    border-radius: 40px;
    box-shadow:0 1px 2px rgba(0, 0, 0, 0.08),
        0 4px 12px rgba(0, 0, 0, 0.05) ;
        padding: 8px;
}

.search:hover {
    box-shadow: -1px 7px 2px rgba(0, 0, 0, 0.08), 0 4px 12px rgba(0, 0, 0, 0.05);
}

.search button {
    border: none;
    font-size: 14px;
    font-weight: var(--mediun-weight);
    background-color: transparent;
    padding-right: 15px;
}

.bordes_boton {
    flex: 0 0 1px;
    height: 24px;
    width: 1px;
    background-color: #dddddd;
}

.search__icon_viajeros {
    display: flex;
    height: 100%;
    align-items: center;
    text-decoration-color: #717171;
    
}

.viajeros {
    color: #717171;
}

.search__icon_viajeros_icon{
    display: flex;
    align-items: center;
    border-radius: 50%;
    background-color: #ff385c;
    padding: 1px;
    
}

.search__icon_viajeros img {
    height: 25px;
}

.left_side img {
    
    width: 80px;
    padding-bottom: 10px;
    
}

.right_side {
    display: flex;
    align-items: center;
    width: 420px;
    height: 80px;
}
.right_icon {
    display: flex;
    margin-right: 8px;
}

#pon_tu_casa {
    border: none;
    border-radius: 22px;
    font-size: 14px;
    font-weight: var(--mediun-weight);
    background-color: transparent;
    padding: 10px;
}
#pon_tu_casa:hover {
    background-color: #ebebeb;
}

#setting {
    border: none;
    border-radius: 22px;
    font-size: 14px;
    font-weight: var(--mediun-weight);
    background-color: transparent;
    padding: 8px;
    
}
#setting:hover {
    background-color: #ebebeb;
}
#setting img {
    height: 30px; 
}

.user {
    width: 76px;
    height: 42px;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #dddddd;
    border-radius: 40px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.08),
    0 4px 12px rgba(0, 0, 0, 0.05);
    
}
.user img {
    height: 30px;
}
.user_img:hover {
    background-color: #ebebeb;
}
.filters {
    width: 1224px;
    height: 78px;
    display: flex;
    justify-content: space-between;
    margin: auto;
    flex-wrap: nowrap;
    max-width: 90%;
    align-items: center;
}

.filters_options {
    display: flex;
    flex-direction: column;
    align-items: center;
    opacity: 0.6;
    border-bottom: transparent solid 0.5vw;
    font-size: 12px;
    margin-top: 10px;
}

.filters_options img {
    width: 24px;
    display: inline-block
    
}

.filters_options:hover {
   opacity: 1;
border-bottom: #cecbcb solid 0.15vw;
padding-bottom: 5px;
}

.flecha img{
   width: 1.8vw;
   align-items: center;
}

.filtro img {
    width: 3.4vw;
}


.main_container {
    display: grid;
    grid-template-columns: auto auto auto auto;      
    margin: auto;
    max-width: 90%;
}


.ind_container img {
    width: 321px;
    height: 305px;
    border-radius: 10px;
    object-fit: cover;
    margin-top: 20px;
}

.ind_container p {
    font-size: 12px;
    color: #717171;
    font-weight: 200;
    line-height: 1.5vw; 
    
}

.ind_container span {
    color: black;
    font-weight: bold;
    
}

@media screen and (max-width:1200px){
    .main_container {
         grid-template-columns: auto auto auto;
          
        }
}